<h2 class="rvt-ts-sm rvt-text-bold rvt-m-top-lg rvt-p-top-lg rvt-border-top">Icons</h2>
<ul class="ri-list rvt-m-top-sm">
  {% for icon in icons %}
    <li class="ri-list__item">
      <a class="ri-list__link" href="{{ path }}icons/{{ icon.shortName }}/">
        <rvt-icon icon="{{ icon.shortName }}" class="rvt-p-all-xxs rvt-p-right-sm"></rvt-icon>
        <span>{{ icon.shortName }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
