<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://unpkg.com/rivet-core@2.0.0-alpha.4/css/rivet.min.css">
  <link rel="stylesheet" href="{{ path }}styles.css"></script>
  <link rel="stylesheet" href="{{ path }}dist/rivet-icons.css"></script>
  <script defer src="{{ path }}dist/rivet-icons.js"></script>
  <script type="module" src="{{ path }}dist/rivet-icon-element.js"></script>
</head>
<body>
  {% include "header.njk" %}
  <main id="main-content">
    <div class="rvt-container-xl rvt-p-tb-md">
      {{ layoutContent | safe }}
    </div>
    <div class="docs-nav rvt-p-tb-md">
      {% include "nav.njk" %}
    </div>
  </main>
</body>
</html>
