<style>
  :root {
    --rvt-color-black: #000000;
    --rvt-color-black-5: #fafafa;
    --rvt-color-black-90: #444444;
    --rvt-color-blue-60: #006298;
    --rvt-color-white: #ffffff;
  }

  body {
    position: relative;
  }

  .ri-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0rem;
  }

  .ri-list__item {
    margin: 0;
    padding: 0;
  }

  .ri-list__link {
    border-radius: 0.5rem;
    color: inherit;
    display: flex;
    padding: 1rem;
    text-decoration: none;
  }

  .ri-list__link:hover {
    background-color: var(--rvt-color-black-5);
  }

  .ri-code-block {
    color: inherit;
    display: block;
    font-size: 1rem;
    overflow-x: auto;
    padding: 1rem;
  }

  .ri-icon--interactive {
    color: var(--rvt-color-blue-60);
  }

  .ri-icon--inverted {
    border-color: var(--rvt-color-black);
    background-color: var(--rvt-color-black-90);
    color: var(--rvt-color-white);
  }
</style>