<button class="rvt-demo-switcher rvt-button" id="switcher-button">
  <span class="rvt-sr-only">Invert colors</span>
  <svg class="rvt-icon">
    <use xlink:href="./svg/rvt-icons.svg#rvt-icon-transfer"></use>
  </svg>
</button>