html {
	-webkit-text-size-adjust: none;
	background-color: var(--color-black-100);
}

.docs-icon-list {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	list-style: none;
	margin: 0;
	padding: 0;
}
