<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://unpkg.com/rivet-core@2.0.0-alpha.4/css/rivet.min.css">
  <style>{% include "styles.css" %}</style>
</head>
<body>
  {% include "../../../dist/rivet-icons.html" %}
  {% include "header.njk" %}
  <main id="main-content" class="rvt-container-xl">
    <div class="docs-layout">
      <div class="rvt-p-tb-md">
        {{ layoutContent | safe }}
      </div>
      <div class="docs-layout__nav">
        {% include "nav.njk" %}
      </div>
    </div>
  </main>
</body>
</html>
