<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://assets.uits.iu.edu/css/rivet/1.8.1/rivet.min.css">
  {% include "styles.njk" %}
</head>
<body>
  {% include "../../../dist/rivet-icons.html" %}
  <div class="rvt-container rvt-container--junior rvt-container--center rvt-p-tb-md">
    {{ layoutContent | safe }}
    {% include "icons-list.njk" %}
  </div>
</body>
</html>
