<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Rivet Icons</title>
	<link rel="stylesheet" href="https://unpkg.com/rivet-core@2.5.1/css/rivet.min.css">
	<link rel="stylesheet" href="https://unpkg.com/rivet-core@2.5.1/tokens/css/variables.css">
	<link rel="stylesheet" href="/styles.css"></script>
	<script type="module" src="../dist/rivet-icons.js"></script>
	<script type="module">
		window.customElements.whenDefined('rvt-icon').then(() => {
			document.documentElement.classList.add('rvt-icon-defined');
		});
	</script>
</head>
<body>
	<main class="rvt-p-all-lg">
		<slot />
	</main>
</body>
</html>
