---
pagination:
  data: icons
  size: 1
  alias: icon
eleventyComputed:
  title: "{{ icon.shortName}} | Rivet icons"
permalink: "icons/{{ icon.shortName }}/index.html"
layout: "layouts/base.njk"
---

<div class="rvt-m-bottom-lg">
  <a href="/">Rivet icons</a>

  <h1 class="rvt-ts-46 rvt-text-bold rvt-m-top-xs">{{ icon.shortName }}</h1>
  <rvt-icon icon="{{ icon.shortName }}"></rvt-icon>

  <h2 class="rvt-ts-sm rvt-text-bold rvt-m-top-lg">Option 1</h2>
  <p>Use the custom element. This is essentially a shorthand for Option 2.</p>
  {% set code = '<rvt-icon icon="' + icon.shortName + '"></rvt-icon>' %}
  <pre><code class="ri-code-block">{{ code }}</code></pre>

  <h2 class="rvt-ts-sm rvt-text-bold rvt-m-top-lg">Option 2</h2>
  {% set code = '<span class="rvt-icon rvt-icon--' + icon.shortName + '">\n  <svg>\n    <use href="#rvt-icon"></use>\n  </svg>\n</span>' %}
  <pre><code class="ri-code-block">{{ code }}</code></pre>

  <h2 class="rvt-ts-sm rvt-text-bold rvt-m-top-lg">Option 3</h2>
  <p></p>
  {% set code = '<span class="rvt-icon">\n  <svg>\n    <use href="#' + icon.fullName + '"></use>\n  </svg>\n</span>' %}
  <pre><code class="ri-code-block">{{ code }}</code></pre>

  <h2 class="rvt-ts-sm rvt-text-bold rvt-m-top-lg">Option 4</h2>
  <p>Copy or download the SVG.</p>
  <pre><code class="ri-code-block">{{ icon.source }}</code></pre>
  <a class="button button--secondary" download href="icons/{{ icon.fullFileName }}">Download SVG<span class="rvt-sr-only">, {{ icon.title }} icon</span></a>
</div>
