---
title: Rivet Icons
layout: "layouts/base.njk"
---

<h1 class="rvt-ts-xl rvt-text-bold rvt-lh-title">Rivet Icons</h1>
<p class="rvt-ts-18 rvt-m-top-xs">{{ icons.length }} icons crafted for the <a href="https://rivet.iu.edu/">Rivet Design System</a>.</p>
<p class="rvt-m-bottom-lg"><a class="rvt-button rvt-button--secondary" href="https://github.com/indiana-university/rivet-icons">Get started</a></p>

<h2 class="rvt-ts-sm rvt-text-bold rvt-m-top-md rvt-lh-title">Many usage options</h2>
<p class="rvt-ts-18 rvt-m-bottom-none rvt-m-top-xs">Rivet Icon Element. SVG symbols. Inline SVG.</p>

<h2 class="rvt-ts-sm rvt-text-bold rvt-m-top-md rvt-lh-title">Build a custom icon set</h2>
<p class="rvt-ts-18 rvt-m-bottom-none rvt-m-top-xs">Select only the icons you need and include your own.</p>
