---
title: Rivet icons
description: Icons for the Rivet design system
layout: "layouts/base.njk"
---

<h1 class="rvt-ts-46 rvt-text-bold">{{ title }}</h1>
<p class="rvt-ts-20 rvt-m-top-none">Icons for the <a href="https://rivet.iu.edu/">Rivet Design System</a></p>
