---
title: Rivet icons
description: A minimal set of icons for the Rivet design system
layout: "layouts/base.njk"
---
<div class="rvt-container rvt-m-top-xxl">
  <div class="rvt-p-all-xl">
    <h1 class="rvt-ts-46 rvt-text-bold rvt-lh-title">{{ title }}</h1>
    <p class="rvt-ts-20">{{ description }}</p>
    <hr>
    <ul class="rvt-icons-demo rvt-p-top-xxl">
      {% for icon in icons %}
        <li id="{{ icon.shortName }}">
          <a href="#{{ icon.shortName }}">
            <div>
              <span data-rvt-icon="{{ icon.shortName }}"></span>
            </div>
            <div class="rvt-icons-demo__title">{{ icon.title }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
    <hr>
    <ul class="rvt-icons-demo rvt-p-top-xxl">
      {% for icon in icons %}
        <li id="{{ icon.shortName }}">
          <a href="#{{ icon.shortName }}">
            <svg class="rvt-icon">
              <use xlink:href="./rivet-icons.svg#{{ icon.fullName }}"></use>
            </svg>
            <div class="rvt-icons-demo__title">{{ icon.title }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>