---
title: Rivet icons
description: A minimal set of icons for the Rivet design system
layout: "layouts/base.njk"
---
<div class="rvt-container rvt-m-top-xxl">
  <div class="rvt-p-all-xl">
    <h1 class="rvt-ts-46 rvt-text-bold rvt-lh-title">{{ title }}</h1>
    <p class="rvt-ts-20">{{ description }}</p>
    <hr>
    <ul class="rvt-icons-demo rvt-p-top-xxl">
      {% for icon in collections.icons %}
        <li id="{{ icon | replace('.svg', '')}}">
          <div>
            <svg class="rvt-icon">
              <use xlink:href="./svg/rvt-icons.svg#{{ icon | replace('.svg', '')}}"></use>
            </svg>
          </div>
          {% set iconTitle = icon | replace('-', ' ') | replace('.svg', '') | replace('rvt icon ', '') | capitalize %}
          <div class="rvt-icons-demo__title">{{ iconTitle }}</div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>